<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/ezy2dlc.css">
    <link rel="stylesheet" href="styles.css" />
    <title>giv.</title>
</head>
<body>

    <!-- HEADER -->
    <header>

        <div class="header-flex global-container">
            <a href="/">
                <img src="../../assets/givlogo.svg" alt="giv logo">
            </a>

            <!-- NAVIGATION -->
            <nav>
                <ul>
                    <li>About</li>
                    <li>Sign in</li>
                    <li><a href="" class="nav-btn">Create a Cause</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <!-- HERO IMAGE/BANNER -->
    <section class="hero">

    </section>

    <!-- MAIN SECTION -->
    <main class="global-container">

        <!-- home -->
        <div class="home">
            <h2>Discover your local causes</h2>

            <div class="card">
                <div class="card-top">
                    <h3>Support Example Charity</h3>
                    <p class="date">June 16, 2022</p>
                    <p>Morbi eleifend nibh eu maximus gravida. Nulla eget porta erat. Sed arcu nibh, dapibus sit amet imperdiet a, sollicitudin ac risus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <div class="author">Erica Trenholm</div>
                </div>
                <div class="card-bottom">
                    <button class="category-btn disaster-relief">Distaster Relief</button>
                </div>
            </div>

            <div class="card">
                <div class="card-top">
                    <h3>Support Example Charity</h3>
                    <p class="date">June 16, 2022</p>
                    <p>Morbi eleifend nibh eu maximus gravida. Nulla eget porta erat. Sed arcu nibh, dapibus sit amet imperdiet a, sollicitudin ac risus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <div class="author">Erica Trenholm</div>
                </div>
                <div class="card-bottom">
                    <button class="category-btn disaster-relief">Distaster Relief</button>
                </div>
            </div>


        </div>

    </main>

    <!-- FOOTER -->
    <footer>

    </footer>

</body>
</html>